
.c-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.c-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #b42a2a;
    padding: .5rem .8rem;
    color: white;
}

.c-input {
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
    flex: 1;
    text-align: center;
}

.c-task {
    display: flex;
    align-items: center;
    border: 1px solid #333;

    &__input {
        text-align: start;
        color: black;

        &:read-only {
            color: #333;
        }
    }

    &--template {
        display: none;
    }

    &--done {
        background-color: lightgray;
        border: 1px solid lightgray;
        opacity: .8;

        input {
            background-color: lightgray;
            text-decoration: line-through;
        }

        .c-icon--done {
            color: green;
        }
    }
}

.c-icon {
    background-color: transparent;
    padding: 3px;
    cursor: pointer;

    &--add:hover {
        color: rgb(173, 30, 54);
    }

    &--search:hover {
        color: orange;
    }

    &--done:hover {
        color: limegreen;
    }

    &--edit:hover {
        color: rgb(79, 107, 230);
    }

    &--del:hover {
        color: red;
    }
}

.c-search-form {
    border: 1px solid #333;
    flex: 1;
    display: flex;
    align-items: center;
}

.c-select-filter {
    font-size: .9rem;
    padding: .3rem;
}